block main-content
	.container
		.row 
			.well Your total for {{cart.getTotalCount()}} items is {{cart.getTotalPrice()|currency}} , goto shopping cart to complete your shopping 
				a(href="#/cart" ng-disabled="cart.getTotalCount()<1") here
		.row(class="panel panel-default" ng-repeat="product in store.products | orderBy:'name'")
			.col-md-6
				.well
					{{product.name}}
					img(class="thumbnail" ng-src='/img/products/{{product.sku}}.jpg' type="image/jpeg" alt="{{product.name}}")
					a(href="#/products/{{product.sku}}") Nutritional Info
					p {{product.description}}
			.col-md-3p {{product.price|currency}} per item , {{cart.getTotalCount(product.sku)}} items added
			.col-md-3(class="btn_location")
				a(href="" class="btn btn-success" ng-click="cart.addItem(product.sku,product.name,product.price,1)") Add to cart