body {
<<<<<<< HEAD
  padding-top: 40px;
  background-color: #cf9;
=======
  padding-top: 100px;
>>>>>>> 35e8bc66f719876cd6bf97c45f0597ddb3a8bf06
}
img {
  width: 101px;
  height: 103px;
}
.row {
  margin-left: 0px;
}
.btn_location {
  margin-top: 20px;
}
<<<<<<< HEAD
.jumbotron {
  background-color: #060;
  color: #ff0;
  padding-top: 10px;
}
padding-bottom 10px,
.banner-label {
  float: left;
  font-style: italic;
}
.banner-img {
  float: right;
}
=======
>>>>>>> 35e8bc66f719876cd6bf97c45f0597ddb3a8bf06
