body 
	padding-top 40px
	background-color #CCFF99

img
	width 101px
	height 103px
.row
	margin-left 0px

.btn_location
	margin-top 20px
.jumbotron
	background-color #006600
	color #FFFF00
	padding-top 10px
  	padding-bottom 10px
.banner-label
	float left
	font-style italic
.banner-img
	float right
