extends ../includes/layout

block main-content
	.container
<<<<<<< HEAD
		.navbar.navbar-default(role='navigation')
			.container
				a.navbar-header(href='/') Login
		.jumbotron
			h2 Online Wellbeing store
			p Welcome to the store , choose the products you like
			img( src='/img/uploadeddd.jpg' type='image/jpeg')
=======
		.jumbotron
			Unique Shopping site
			img(src='/img/uploadeddd.jpg' type="image/jpeg")
>>>>>>> 35e8bc66f719876cd6bf97c45f0597ddb3a8bf06
	section.content
	div(ng-view)